.profile__information {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
}

/* media queries */
@media screen and (max-width: 873px) {
  .profile__information {
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 800px) {
  .profile__information {
    flex-direction: column;
    align-items: center;
  }
}
